:root{
    --color0: gray;
    --color1: aqua;
    --ball-size: 15px;
}

body{
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
}


/* spiner3 */
@keyframes spiner3{
    50%{transform: translateY(-15px);}
}

.spiner3{
    display: flex;
    justify-content: space-around;
}

.spiner3 .a{
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: var(--color1);
    border-radius: 50%;
    margin: 10px;

    animation-name: spiner3;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

.spiner3 .b{
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: var(--color1);
    border-radius: 50%;
    margin: 10px;

    animation-name: spiner3;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

.spiner3 .c{
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: var(--color1);
    border-radius: 50%;
    margin: 10px;

    animation-name: spiner3;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}


/* spiner4 */
@keyframes spiner4{
    50%{transform: translateY(-15px);}
}

.spiner4{
    display: flex;
    justify-content: space-around;
}

.spiner4 .a{
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: var(--color1);
    border-radius: 50%;
    margin: 10px;

    animation-name: spiner4;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

.spiner4 .b{
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: var(--color1);
    border-radius: 50%;
    margin: 10px;

    animation-name: spiner4;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

.spiner4 .c{
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: var(--color1);
    border-radius: 50%;
    margin: 10px;

    animation-name: spiner4;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}